@font-face {
    font-family: pkmnFont;
    src: url(assets/pkmnfont.ttf);
}

body{
    margin : 0;
}

#combat-scene{
    width: 900px;
    height: 900px;
    margin: auto;
    margin-top: 50px;
}

#enemie-zone{
    width: 100%;
    height: 37%;
    display: flex;
}

#en-info-zone{
    height: 100%;
    width: 55%;
}

#en-pokemon-zone{
    height: 100%;
    width: 45%;
    position: relative;
}

#en-pokemon-zone img{
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 5%;
}

#player-zone{
    width: 100%;
    height: 37%;
    display: flex;
}

#pl-info-zone{
    height: 100%;
    width: 55%;
}



#pl-pokemon-zone{
    height: 100%;
    width: 45%;
    position: relative;
}
#pl-pokemon-zone img{
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 350px;
}
#text-zone{
    width: 100%;
    height: 26%;
    border: 1px black groove;
    word-spacing: 20px;
}
#text-zone p{
    font-family: pkmnFont;
    font-size: 26px;
    margin : 40px 20px;
    line-height: 50px;
    max-width: 500px;
}

#blue{
    position: absolute;
    left: -150px;
    top: 0;
}

#red{
    position: absolute;
    right: 0;
    top: 0;
}

.trainer{
    height: 1080px;
}

.pkmn-name{
    font-size: 32px;
    margin: 50px 50px 15px;
}
.pkmn-lvl{
    font-size: 32px;
    margin: 5px 200px;
}
.pkmn-text{
    font-family: pkmnFont;
    text-transform: uppercase;
}
.pkmn-hp{
    margin: 5px 50px;
    position: relative;
}
.hp-bar{
    width: 300px;
    height: 12px;
    background: darkcyan;
    border-radius:5px; 
    transition: width 2s;
}

.hp-text{
    display: inline;
    margin-right: 15px;
    font-size: 32px;
}

.hp-border{
    display: inline-flex;
    position: absolute;
    background: rgba(0,0,0,0);
    border: 2px solid black;
    border-radius:15px; 
    bottom: 5px;
    width: 300px;
}

.hp-value{
    font-size: 32px;
    margin : 10px 145px;
}


.disapear {
    animation-duration: 2s;
    animation-name: disapear;
  }
  
@keyframes disapear {
0%  { transform : scale(1);}
50% { transform : scale(0);}
100%{ transform : scale(1);}
}